<main>
  <div class="py-4">
              <span class="inline-flex items-center text-black">
                <span class="font-mono text-sm" aria-hidden="true">01</span>
                <span class="ml-3 h-3.5 w-px bg-black"></span>
                <span class="ml-3 text-base font-medium tracking-tight">Tab content</span>
              </span>

    <!--                <div class="border border-gray-200 border-dashed rounded-lg h-96">-->
    <div class="flex flex-col border border-gray-200 border-dashed rounded-lg">
      <div class="sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
          <div class="overflow-x-auto">
            <table class="min-w-full text-center text-sm font-light">
              <thead class="border-b font-medium dark:border-neutral-500">
              <tr>
                <th scope="col" class="px-6 py-4">#</th>
                <th scope="col" class="px-6 py-4">Employee</th>
                <th scope="col" class="px-6 py-4">Start Date</th>
                <th scope="col" class="px-6 py-4">End Date</th>
                <th scope="col" class="px-6 py-4">Number <br>Of days</th>
                <th scope="col" class="px-6 py-4">Solde</th>
                <th scope="col" class="px-6 py-4">Type</th>
                <th scope="col" class="px-6 py-4">Heading</th>
                <th scope="col" class="px-9 py-4">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let r of requests" class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap px-6 py-4">{{r.employeeId}}</td>
                <td class="whitespace-nowrap px-6 py-4">{{r.employee.fname}}<br>{{r.employee.lname}}</td>
                <td class="whitespace-nowrap px-6 py-4">{{convertDateString(r.startDate)}}</td>
                <td class="whitespace-nowrap px-6 py-4">{{convertDateString(r.endDate)}}</td>
                <td class="whitespace-nowrap px-6 py-4">{{r.numbOfDays}}d</td>
                <td class="whitespace-nowrap px-6 py-4 ">{{r.solde?.solde}}d</td>
                <td class="whitespace-nowrap px-6 py-4">{{r.type}}</td>
                <td class="whitespace-nowrap px-6 py-4 ">{{(r.employeeId)}}</td>
                <td class=" px-6 py-4 ">
                  <div class="w-1/3 h-auto">
                    <div class="flex">

                      <div class="flex-1 m-1 h-full">
                        <button (click)="confirmRequest(r.id)" class="flex items-center justify-center flex-1 h-full p-2 bg-green-400 text-white shadow rounded-lg">
                          <div class="relative">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                              <polyline points="20 6 9 17 4 12"></polyline>
                            </svg>
                          </div>
                        </button>
                      </div>
                      <div class="flex-1 m-1 h-full">
                        <button (click)="rejectRequest(r.id)" class="flex items-center justify-center flex-1 h-full p-2 bg-red-400 text-white shadow rounded-lg">
                          <div class="relative">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                              <line x1="18" y1="6" x2="6" y2="18"></line>
                              <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                          </div>
                        </button>
                      </div>
                      <div class="flex-1 m-1 h-full">
                        <button (click)="deleteRequest(r.id)" class="flex items-center justify-center flex-1 h-full p-2 bg-gray-500 text-white shadow rounded-lg">
                          <div class="relative">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                              <polyline points="3 6 5 6 21 6"></polyline>
                              <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                              <line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line>
                            </svg>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--                </div>-->
  </div>
</main>
