<header class="flex justify-between items-center bg-blue-100 p-4">
  <div routerLink="/" class="flex mx-2 font-bold cursor-pointer text-2xl">
    <div><span class="text-blue-600">On</span>Board</div>
  </div>
  <div (click)="logout()" class="cursor-pointer flex">
    <div class="flex items-center mr-4">
      <span class="inline-flex mr-1">
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>
      </span>
      Logout
    </div>
  </div>
</header>
