<!--<div class="relative">-->
<!--  <input class="datepicker bg-gray-100  form-input pl-9 text-slate-500 hover:text-slate-600 font-medium text-sm w-72 p-2 border-black" data-input-class="" placeholder="Select dates" id="date-range"  />-->
<input class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" data-input-class="" placeholder="Select dates" id="date-range"   />
<div class=" inset-0 right-auto flex items-center pointer-events-none">
</div>
<!--</div>-->
