
<section>
  <div class="items-center px-3 mx-auto max-w-7xl lg:px-3 md:px-3">
    <div class="justify-center w-full p-7 max-auto">
      <div class="justify-start w-full text-left">
        <ul class="flex gap-1 mt-6 space-x-4 text-black border-b">
          <li class="-mb-px">
            <button (click)="tab = 'tab1'"  class="inline-block py-2 font-medium" [ngClass]="{'bg-white text-blue-500 border-b-2 border-blue-500': tab === 'tab1'}">
              <span class="ml-2">Employees</span>
            </button>
          </li>
          <li class="-mb-px">
            <button (click)="tab = 'tab2'"  class="inline-block py-2 font-medium" [ngClass]="{'bg-white text-blue-500 border-b-2 border-blue-500': tab === 'tab2'}">
              <span class="ml-2">Add An Employee</span>
            </button>
          </li>
          <li class="-mb-px">
            <button (click)="tab = 'tab3'"  class="inline-block py-2 font-medium" [ngClass]="{'bg-white text-blue-500 border-b-2 border-blue-500': tab === 'tab3'}">
              <span class="ml-2">Add A Contract</span>
            </button>
          </li>
          <li class="-mb-px">
            <button (click)="tab = 'tab4'"  class="inline-block py-2 font-medium" [ngClass]="{'bg-white text-blue-500 border-b-2 border-blue-500': tab === 'tab4'}">
              <span class="ml-2">Contracts</span>
            </button>
          </li>
<!--          <li class="-mb-px">-->
<!--            <button (click)="tab = 'tab5'"  class="inline-block py-2 font-medium" [ngClass]="{'bg-white text-blue-500 border-b-2 border-blue-500': tab === 'tab5'}">-->
<!--              <span class="ml-2">My Leaves</span>-->
<!--            </button>-->
<!--          </li>-->
<!--          <li class="-mb-px">-->
<!--            <button (click)="tab = 'tab6'"  class="inline-block py-2 font-medium" [ngClass]="{'bg-white text-blue-500 border-b-2 border-blue-500': tab === 'tab6'}">-->
<!--              <span class="ml-2">My Upcoming Leaves   </span>-->
<!--            </button>-->
<!--          </li>-->
        </ul>
        <div class="py-4 pt-4 text-left bg-white content">
          <div *ngIf="tab === 'tab1'" class="text-gray-500">
            <app-all-employees></app-all-employees>
          </div>

          <div *ngIf="tab === 'tab2'" class="text-gray-500">
            <app-register-employee></app-register-employee>
          </div>

          <div *ngIf="tab === 'tab3'" class="text-gray-500">
            <app-add-contract></app-add-contract>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>












