<div class='flex items-center justify-center mt-4'>
  <div class="rounded-xl border p-4 shadow-md w-11/12 bg-white">

    <form (ngSubmit)="register()">
      <div class="relative mb-4 flex w-full flex-wrap items-stretch">
        <input
          type="text"
          class="relative m-0 block  w-[1px] min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition ease-in-out focus:z-[3] focus:border-primary-600 focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200"
          [(ngModel)]="fname"
          id="first name" name="first name"
          placeholder="First name"
          aria-label="First name"
          aria-describedby="basic-addon1" />
      </div>

      <div class="relative mb-4 flex w-full flex-wrap items-stretch">
        <input
          type="text"
          class="relative m-0 block w-[1px] min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition ease-in-out focus:z-[3] focus:border-primary-600 focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200"
          [(ngModel)]="lname"
          id="last name" name="last name"
          placeholder="Last name"
          aria-label="Last name"
          aria-describedby="basic-addon1" />
      </div>

      <div class="relative mb-4 flex w-full flex-wrap items-stretch">
        <input
          type="text"
          class="relative m-0 block w-[1px] min-w-0 flex-auto rounded-l border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition ease-in-out focus:z-[3] focus:border-primary-600 focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200"
          [(ngModel)]="email"
          id="email" name="email"
          placeholder="Email"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2" />
        <span
          class="flex items-center whitespace-nowrap rounded-r border border-l-0 border-solid border-neutral-300 px-3 py-[0.25rem] text-center text-base font-normal leading-[1.6] text-neutral-700 dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200"
          id="basic-addon2"
        >@cebedim.com</span
        >
      </div>

      <div class="relative mb-4 flex w-full flex-wrap items-stretch">
        <input
          type="password"
          class="relative m-0 block w-[1px] min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition ease-in-out focus:z-[3] focus:border-primary-600 focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200"
          [(ngModel)]="password"
          id="password" name="password"
          placeholder="Password"
          aria-label="Password"
          aria-describedby="basic-addon1" />
      </div>

      <div class="relative mb-4 flex w-full flex-wrap items-stretch">
        <input
          type="text"
          class="relative m-0 block w-[1px] min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition ease-in-out focus:z-[3] focus:border-primary-600 focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200"
          [(ngModel)]="phone"
          id="phone" name="phone"
          placeholder="Phone Number"
          aria-label="Phone Number"
          aria-describedby="basic-addon1" />
      </div>

      <div class="relative mb-4 flex w-full flex-wrap items-stretch">
        <span
          class="flex items-center whitespace-nowrap rounded-l border border-r-0 border-solid border-neutral-300 px-3 py-[0.25rem] text-center text-base font-normal leading-[1.6] text-neutral-700 dark:border-neutral-600 dark:bg-zinc-800 dark:text-neutral-200 dark:placeholder:text-neutral-200"
        >Address</span
        >
        <textarea
          class="relative m-0 block w-[1px] min-w-0 flex-auto rounded-r border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition ease-in-out focus:z-[3] focus:border-primary-600 focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200"
          [(ngModel)]="address"
          id="address" name="address"
          aria-label="With textarea"></textarea>
      </div>

      <div class="relative mb-4 flex w-full flex-wrap items-stretch">
        <select
          type="text"
          class="relative m-0 block w-[1px] min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition ease-in-out focus:z-[3] focus:border-primary-600 focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200"
          [(ngModel)]="role"
          id="role" name="role"
          placeholder="Role"
          aria-label="Role"
          aria-describedby="basic-addon1" >
          <option value="" selected disabled >Role</option>
          <option>RH</option>
          <option>Employee</option>
        </select>
      </div>
      <button
        type="submit"
        class="inline-block rounded bg-blue-600 px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]">
        Button
      </button>
    </form>
  </div>
</div>
